PORT=Puerto en el que se va a ejecutar tu app
DB_HOST=Nombre de host de tu base de datos
DB_PORT=Puerto de tu base de datos
DB_USER=Usuario de tu base de datos
DB_PASS=Password de tu base de datos
DB_NAME=Nombre de tu base de datos
CLOUDINARY_CLOUD_NAME=Nombre de cloud de tu cloudinary
CLOUDINARY_API_KEY=Codigo de api_key de tu cloudinary
CLOUDINARY_API_SECRET=Codigo de api_secret de tu cloudinary
JWT_SECRET=Clave secreta de tu JWT